.alarm-hover-ellipsis {
    display: flex;
    flex-direction: row;
    /* padding-left: 35px; */
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.hidden-alarm-toggle-ctn {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.alarm-content {
    font-family: 'Lexend Deca';
    display: flex;
    flex-direction: row;
    width: 200px;
}

.alarm-time {
    display: flex;
    flex-direction: row;
    font-size: 20pt;
    font-weight: 1000;
}

.alarm-name {
    width: 125px;
    overflow-x: auto;
}

.alarm-meridiem {
    display: flex;
    align-items: flex-end;
    font-size: 8pt;
    padding: 0 0 5px 3px;
    font-weight: 1000;
}

.alarm-setting-btns {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    transition-duration: 0.2s;
}

.alarm-edit-delete > a {
    text-decoration: none;
}

.alarm-edit-delete > button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.alarm-edit-btn {
    color: white;
    font-family: 'Lexend Deca';
    font-size: 10pt;
}

.alarm-switch {
    position: relative;
    display: flex;
    align-items: center;
}

/* This will allow the checkbox to embody/"swallow" the entire label
so that whereever you click the slider, the radio box will be (un)checked */
.alarm-switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.alarm-slider {
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.alarm-slider:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    top: 2.5px;
    left: 2.5px;
}

.alarm-radio-box:checked + .alarm-slider:before {
    transform: translateX(20px);
    transition: 0.2s;
}

.alarm-radio-box:checked + .alarm-slider {
    background-color: #3478F6;
    border: 1px solid #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s
}

.alarm-right {
    display: flex;
    flex-direction: row;
}

.alarm-ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    padding-right: 10px;
}

.alarm-ellipsis-settings {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.alarm-edit-delete {
    display: flex;
    flex-direction: row;
}

.alarm-edit-btn,
.alarm-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 56px;
    background-color: transparent;
    border: 0;
    padding: 0;
    color: white;
    font-weight: 1000;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: background-color, color;
}

.alarm-edit-btn {
    background-color: #D3D3D3;
    border-right: 1px solid gray;
}

.alarm-edit-btn:hover {
    background-color: gray;
    color: white;
}

.alarm-delete-btn {
    background-color: #3478F6;
}

.alarm-delete-btn:hover {
    background-color: red;
}

.delete-alarm {
    font-family: 'Lexend Deca';
    color: white;
}
