#navbar {
    border-bottom: 1px solid lightgray;
}

#navbar,
#navbar > ul,
#navbar-right {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.home-logo-ctn {
    display: flex;
    align-items: center;
}

#navbar > ul {
    justify-content: space-between;
    width: 100vw;
    padding: 5px 80px;
}

.home-logo {
    width: 130px;
    height: 35px;
}

#navbar-right {
    align-items: center;
}

.navbar-create-alarm {
    padding: 0 20px;
}

.fa-plus {
    color: #3478F6;
}

.fa-plus:hover {
    transition: 0.3s;
    color: gray;
}

.logout-switch {
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 44px;
    cursor: pointer;
    padding: 0;
}

.logout-ball:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    top: 3px;
    left: 2.5px;
}

.logout-switch:hover .logout-ball:before {
    transform: translateX(56px);
    transition: 0.2s;
}

.logout-switch:hover {
    background-color: #3478F6;
    border: 1px solid #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s ease-out;
}

.logout-span {
    opacity: 1;
    font-family: 'Lexend Deca';
    padding-left: 35px;
}

.logout-switch:hover .logout-span {
    opacity: 0;
    transition: all 0.2s ease-out;
}
