#navbar,
#navbar > ul,
#navbar-right {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#navbar {
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    /* background-color: #FFDEE3; */
    background-color: #C0CBEA;
}

.home-logo-ctn {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.navbar-alarmlist-heading {
    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
    height: 46px;
    padding: 21px 0;
    transition: margin-left 0.3s;
    /* background-color: rgb(229, 229, 229); */
}

.alarmlist-title {
    font-family: 'Readex Pro';
    font-size: 26pt;
    margin: 0;
    padding-left: 30px;
    width: fill-available;
}

.create-alarmlist-modal {
    padding-right: 30px;
}

#navbar > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 16px;
    padding: 5px 0 21px 0;
    width: 100vw;
}

.home-logo {
    width: 130px;
    height: 35px;
}

#navbar-right {
    align-items: center;
}

.navbar-logout {
    padding-right: 30px;
}

.navbar-create-alarm {
    padding: 0 20px;
}

.fa-plus {
    color: lightgray;
}

.fa-plus:hover {
    transition: 0.3s;
    color: #3478F6;
}

.logout-switch {
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 44px;
    cursor: pointer;
    padding: 0;
}

.logout-ball:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    top: 3px;
    left: 2.5px;
}

.logout-switch:hover .logout-ball:before {
    transform: translateX(56px);
    transition: 0.2s;
}

.logout-switch:hover {
    background-color: #3478F6;
    border: 1px solid #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s ease-out;
}

.logout-span {
    opacity: 1;
    font-family: 'Lexend Deca';
    padding-left: 35px;
}

.logout-switch:hover .logout-span,
.toggle-home:hover .home-auth-label {
    opacity: 0;
    transition: all 0.2s ease-out;
}

/* SPLASH PAGE HOME BUTTON SECTION */
.sidebar-menu-ctn {
    display: flex;
    align-items: center;
    padding-left: 30px;
    transition: width 0.3s;
}

.toggle-sidebar {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 30px;
}

.auth-home-ctn {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 5px;
    margin: 15px 0;
}

.splash-left,
#navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.github-logo-ctn,
.linkedin-logo-ctn {
    padding-left: 30px;
}

.github-logo,
.linkedin-logo {
    width: 42px;
    height: 42px;
}

.auth-home {
    padding-right: 30px;
}

.auth-home > a {
    text-decoration: none;
}

.toggle-home {
    position: relative;
    display: block;
    border: 1px solid lightgray;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 42px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.nav-ball:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    top: 3px;
    left: 3px;
}

.toggle-home:hover .nav-ball:before {
    transform: translateX(57px);
    transition: 0.2s;
}

.toggle-home:hover {
    background-color: #3478F6;
    border: 1px solid #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s ease-out;
}

.home-auth-label {
    opacity: 1;
    font-family: 'Lexend Deca';
    color: black;
    padding-left: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 10pt;
}
