#create-alarm,
#edit-alarm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-alarm > form,
#edit-alarm > form {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: auto;
}

.error-500 {
    text-align: center;
    color: #FFA194;
    font-family: 'Readex Pro';
}

.alarm-form-title {
    font-size: 36pt;
    font-family: 'Readex Pro';
    margin: 25px 0;
}

.create-right {
    width: 500px;
    height: auto;
    margin-left: 100px;
}

.select-times-and-meridiem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
}

.select-times-and-meridiem > div {
    padding: 0 20px;
}

.alarm-meridiem-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alarm-hour-form > select,
.alarm-minutes-form > select,
.alarm-meridiem-form > select {
    width: auto;
    overflow: scroll;
    display: flex;
    justify-content: center;
    text-align-last:center;

}

.alarm-hour-form > select,
.alarm-minutes-form > select {
    height: 500px;
    font-size: 100pt;
}

.alarm-meridiem-form > select {
    font-size: 50pt;
    height: auto;
}

.time-colon-ctn {
    display: flex;
    align-items: center;
    height: 500px;
    font-size: 50pt;
}

.alarm-hour-form > select > option,
.alarm-minutes-form > select > option,
.alarm-meridiem-form > select > option {
    color: #CECECE;
}

.alarm-hour-form > select > option:checked,
.alarm-minutes-form > select > option:checked,
.alarm-meridiem-form > select > option:checked {
    border-radius: 25px;
    color: black;
    /* background-color: #3478F6; */
}

.alarm-hour-form > select::-webkit-scrollbar,
.alarm-minutes-form > select::-webkit-scrollbar,
.alarm-meridiem-form > select::-webkit-scrollbar {
    display: none;
}

.alarm-hour-form > select:focus,
.alarm-minutes-form > select:focus,
.alarm-meridiem-form > select:focus {
    outline: none;
}

.alarm-formError-ctn {
    height: 20px;
    color: red;
    font-family: 'Lexend Deca';
}

.alarm-sound-error {
    margin: 0;
}

select {
    width: 100px;
    height: 40px;
    border: 0;
    font-family: 'Lexend Deca';
    text-align: center;
    font-size: 14pt;
    font-weight: 1000;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.alarm-name-form,
.alarm-alarmlist-label,
.alarm-repeat-label,
.alarm-snooze-label {
    font-family: 'Lexend Deca';
    font-weight: 1000;
}

.alarmlist-selection-form {
    width: 350px;
    text-align: right;
    color: #3478F6;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 0 20px;
    outline: none;
    height: 30px;
}

.alarm-name-form,
.add-to-alarmlist-form,
.alarm-repeat-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alarm-name-form {
    padding-bottom: 10px;
}

.alarm-name-label,
.alarm-alarmlist-label,
.alarm-repeat-label {
    padding: 10px 0;
}

.alarm-name-input,
.create-alarm-submit {
    display: flex;
    justify-content: center;
    /* width: 500px; */
}

.alarm-name-input {
    flex-direction: column;
    width: 350px;
}

.alarm-name-input > input {
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 25px;
    background-color: transparent;
    padding: 0 20px;
    text-align: right;
    transition-duration: 0.2s;
    font-family: 'Lexend Deca';
    font-weight: 1000;
    font-size: 14pt;
    /* cursor: pointer; */
    color: #3478F6;
}

.name-input-box:hover,
.name-input-box:focus {
    border: 1px solid lightgray;
    padding: 0 20px;
    border-radius: 25px;
    background-color: white;
    outline: none;
}

.char-count-ctn {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    font-size: 12px;
}

.alarmlist-name-error {
    margin: 0;
    font-size: 10pt;
    text-align: right;
}

.select-alarmlist-error {
    margin: 0;
    font-size: 10pt;
    padding: 10px 0 0 15px;
    text-align: right;
}

.alarm-repeat-select {
    display: flex;
    align-items: center;
}

.search-wrapper {
    padding: 0;
}

/* Ellipsis from right to left text*/
.rtl {
    direction: rtl
}

#file-upload-button {
    height: 40px;
    border: 0;
}

.alarm-repeat-form {
    padding: 10px 0 30px 0;
}

.alarm-snooze-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.snooze-switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.snooze-slider {
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 55px;
    height: 30px;
    cursor: pointer;
}

.snooze-slider:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
    top: 2.5px;
    left: 2.5px;
}

.snooze-radio-box:checked + .snooze-slider:before {
    transform: translateX(25px);
    transition: 0.2s;
}

.snooze-radio-box:checked + .snooze-slider {
    background-color: #3478F6;
    border: 1px solid #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s
}


.create-alarm-submit {
    padding: 10px 0 20px 0;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pt-2 {
    padding-top: 4px;
}
