.delete-alarmlist-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
}

.confirm-delete {
    font-family: 'Lexend Deca';
    font-weight: 700;
    padding-bottom: 20px;
}

.confirm-delete > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    inline-size: 500px;
    word-break: break-word;
    font-weight: 1000;
}

.remove-alarmlist-btn-ctn {
    margin-bottom: 10px;
}
