#register {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#register > h1 {
    font-family: 'Readex Pro';
    margin: 0;
}

.required-asterisk {
    font-style: italic;
    font-family: 'Lexend Deca';
    font-size: 10pt;
    margin: 10px 0 20px 0;
}

.required {
    color: red;
}

.register-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 1000px;
    height: 500px;
    font-family: 'Lexend Deca'
}

.register-name-ctn,
.register-password-ctn {
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-between;
}

.register-firstName-label,
.register-lastName-label,
.register-email-label,
.register-password-label,
.register-repeat-label {
    padding: 0 0 10px 15px;
}

.firstName-input,
.lastName-input {
    width: 400px;
    height: 40px;
    border-radius: 25px;
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    padding-left: 20px;
}

.firstName-error-ctn,
.lastName-error-ctn,
.register-email-error-ctn,
.register-password-error-ctn,
.register-pwRepeat-error-ctn {
    height: 40px;
    color: red;
}

.firstName-error,
.lastName-error,
.register-email-error,
.register-password-error,
.register-pwRepeat-error {
    margin: 10px 0 0 0;
    font-size: 10pt;
    padding-left: 15px;
}

.toggle-register {
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 424px;
    height: 44px;
    cursor: pointer;
    padding: 0;
}

.register-ball:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    top: 3px;
    left: 3px;
}

.toggle-register:hover .register-ball:before {
    transform: translateX(379px);
    transition: 0.2s;
}

.toggle-register:hover {
    background-color: #3478F6;
    border: 1px solid #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s ease-out;
}

.register-span {
    opacity: 1;
    font-family: 'Lexend Deca';
    color: black;
}

.toggle-register:hover .register-span {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.login-ctn {
    padding-top: 20px;
}

.login-ctn > a {
    text-decoration: none;
}
