#dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.no-alarmlists-ctn {
    font-family: 'Lexend Deca';
    font-weight: 1000;
    padding: 0 20px;
}

#sidebar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}

.alarmlist-title {
    font-family: 'Readex Pro';
    font-size: 36pt;
    margin: 20px 0 20px 0;
}

.alarmlist-menu {
    width: 25vw;
    /* height: 100vh; */
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow: scroll;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    /* height: 100vh; */
}


.global-dashboard-time {
    font-family: 'Lexend Deca';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    position: relative;
    z-index: -1;
}

.dashboard-time-ctn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 224pt;
}
