#dashboard--refactored {
    display: flex;
    flex-direction: row;
    /* height: calc(100vh - 89px); */
    height: 100vh;
}

#dashboard {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* height: calc(100vh - 89px); */
    height: 100vh;
    transition: margin-left 0.3s;
}

.no-alarmlists-ctn {
    font-family: 'Lexend Deca';
    font-weight: 1000;
    padding: 0 20px;
}

#sidebar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}

.alarmlist-menu {
    position: fixed;
    width: 25vw;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    transition: margin-left 0.3s;
    height: 100vh;
    background-color: #FAFEFF;
    /* background-color: #F6F9FF; */
    box-shadow: 1px 0 5px #C0CBEA;
}

.global-dashboard-time {
    font-family: 'Lexend Deca';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: calc(100vw - 25vw); */
    height: 100vh;
}

.dashboard-time-ctn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 224pt;
    /* width: 100%; */
}

.dashboard-days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Readex Pro';

}

.dashboard-days > div {
    padding: 0 40px 40px 40px;
    font-weight: 1000;
    color: rgba(0, 0, 0, 0.4);
}
