@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Didact+Gothic&family=Readex+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Didact+Gothic&family=Lexend+Deca:wght@100&family=Readex+Pro:wght@200&display=swap');

#splash-page {
    font-family: 'Readex Pro';
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #E6EAEF; */
    background-color: #E3E7F4;
}

.splash-page-icon {
    width: 150px;
    height: 40px;
}

.splash-full-time {
    font-family: 'Lexend Deca';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
}

.splash-time-ctn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 224pt;
    /* font-size: 16pt; */
    width: 1000px;
}

.splash-hour {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}

.splash-second-colon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
}

.splash-minutes {
    display: flex;
    justify-content: center;
    width: 350px;
}

.meridiem-ctn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50px;
}

.splash-meridiem {
    display: flex;
    align-items: flex-end;
    font-size: 16pt;
    padding: 0 0 65px 0;
}

.splash-days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.splash-days > div {
    padding: 0 40px 40px 40px;
    color: rgba(0, 0, 0, 0.4)
}

.splash-entries {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.splash-login-ctn,
.splash-register-ctn,
.splash-demo-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-label,
.register-label,
.splash-demo {
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.4)
}

/* Div that houses the splash-ball */
.splash-switch {
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 75px;
    height: 40px;
    cursor: pointer;
}

/* Creates the splash-ball that will turn 'on' and 'off' */
.splash-ball:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    top: 2.5px;
    left: 2.5px;
}

/* When mouse is hovered, the splash-ball will move from left to right */
.splash-switch:hover .splash-ball:before {
    transform: translateX(33.5px);
    transition: 0.2s;
}

/* When mouse is hovered on div, change div background to hex code color. */
.splash-switch:hover {
    background-color: #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s
}

.login-label a,
.register-label a {
    text-decoration: none;
    color: black;
}
