#alarmlists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 250px; */
    margin: 0;
}

.alarmlist-comp {
    padding: 0 20px;
}

.alarmlist-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 165px;
}

.alarmlist-name > h1 {
    font-family: 'Lexend Deca';
}

.alarmlist-name-heading > a {
    text-decoration: none;
    color: #3478F6;
}

.alarmlist-toggle-settings {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 40px;
    height: 100px;
}

.ellipsis-settings {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.fa-ellipsis {
    background-color: none;
    border: none;
    color: gray;
}

.alarmlist-btn-settings {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 70px;
}

.settings-ctn {
    border: 1px solid gray;
}

.edit-alarmlist,
.delete-alarmlist {
    display: flex;
    height: 36px;
    width: 102px;
}

.alarmlist-edit-btn,
.delete-alarmlist-btn {
    display: flex;
    align-items: center;
    width: 102px;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.alarmlist-toggle-ctn {
    width: 75px;
}

.alarmlist-switch {
    position: relative;
}

/* This will allow the checkbox to embody/"swallow" the entire label
so that whereever you click the slider, the radio box will be (un)checked */
.alarmlist-switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.alarmlist-slider {
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 75px;
    height: 40px;
    cursor: pointer;
}

.alarmlist-slider:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    top: 2.5px;
    left: 2.5px;
}

.alarmlist-radio-box:checked + .alarmlist-slider:before {
    transform: translateX(35px);
    transition: 0.2s;
}

.alarmlist-radio-box:checked + .alarmlist-slider {
    background-color: #3478F6;
    border: 1px solid #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s
}
