#alarmlists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.toggle-and-settings {
    display: flex;
    flex-direction: row;
}

.alarmlist-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;
}

.alarmlist-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin: 22.5px 0;
    /* background-color: rgba(255, 255, 255, 0.9); */
}

.alarmlist-top:hover {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgb(59, 145, 249, 0.2);
}

.alarmlist-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 0 0 0 20px;
    font-family: 'Lexend Deca';
    cursor: pointer;
}

.alarmlist-name-heading > a {
    text-decoration: none;
    /* color: #3478F6; */
}

.alarmlist-name-heading {
    margin: 19px 10px 0 0;
    width: auto;
    max-width: 200px;
    max-height: 25px;
    /* height: 50px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a5a5a5;
    /* color: black; */
    font-size: 14pt;
    margin: 0;
}

.settings-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 10px;
    cursor: pointer;
}

.alarmlist-toggle-settings {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 15px;
    height: 25px;
    padding-left: 10px;
}

.ellipsis-settings {
    background-color: transparent;
    border: none;
    padding: 0;
    padding-bottom: 5px;
    cursor: pointer;
}

.fa-ellipsis-vertical {
    background-color: none;
    border: none;
    color: gray;
}

.alarmlist-btn-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

}

.settings-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid lightgray; */
    /* border-radius: 5px; */
    /* width: 100%; */
    width: 200px;
    height: 100%;
}

.edit-alarmlist,
.delete-alarmlist {
    display: flex;
    height: 75px;
    width: 56px;
}

.edit-alarmlist {
    background-color: lightgray;
    /* background-color: #3478F6; */
}

.delete-alarmlist {
    /* background-color: lightgray; */
    background-color: #3478F6;
}

.alarmlist-edit-btn,
.delete-alarmlist-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    color: white;
    font-weight: 1000;
    cursor: pointer;
}

.alarmlist-edit-btn {
    border-right: 1px solid gray;
    color: white;
}

.edit-alarmlist:hover {
    background-color: gray;
    transition: 0.2s;
    color: white;
}

.delete-alarmlist:hover {
    background-color: red;
    transition: 0.2s;
}

.fa-angle-right {
    color: black;
}

.dropdown-alarm-btn {
    display: flex;
    align-items: center;
    /* padding-left: 20px; */
    cursor: pointer;
    /* border-bottom: 1px solid lightgray; */
    height: 30px;
}

.toggle-alarms-view {
    width: auto;
    height: auto;
    padding-top: 3px;
}

.alarm-toggle-ctn {
    display: flex;
    flex-direction: row;
    padding-left: 27px;
}

.alarm-toggle-ctn:hover {
    background-color: rgb(59, 145, 249, 0.2);
}

.update-alarmlist-icon,
.delete-alarmlist-icon {
    padding-left: 10px;
}

.edit-alarmlist-label,
.delete-alarmlist-label {
    font-family: 'Lexend Deca'
}

.no-alarms {
    margin: 0;
    font-family: 'Lexend Deca';
    font-weight: 1000;
    word-break: break-word;
}

.alarmlist-toggle-ctn {
    width: 75px;
}

.alarmlist-toggle {
    display: flex;
    align-items: center;
}

.alarmlist-switch {
    position: relative;
}

/* This will allow the checkbox to embody/"swallow" the entire label
so that whereever you click the slider, the radio box will be (un)checked */
.alarmlist-switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.alarmlist-slider {
    position: relative;
    display: block;
    border: 1px lightgray solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.alarmlist-slider:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    top: 2.5px;
    left: 2.5px;
}

.alarmlist-radio-box:checked + .alarmlist-slider:before {
    transform: translateX(20px);
    transition: 0.2s;
}

.alarmlist-radio-box:checked + .alarmlist-slider {
    background-color: #3478F6;
    border: 1px solid #3478F6;
    /* background-color: lightgreen; */
    transition: 0.2s
}

.no-alarms-ctn {
    padding: 20px;
}
